.newCollections {
  max-width: 1200px;
  padding: 24px 15px;
  margin: auto;
  margin-top: 20px 0;
}
.newCollections .newCollections-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}
.newCollections h3 {
  font-size: 23px;
  text-transform: uppercase;
  margin: 30px 0;
  color: gray;
  font-weight: 700;
}
