.shopCategory-items{
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    gap: 25px;
}
.shopCategory-items a{
    text-decoration: none;
    color: black;
}


@media only screen and (max-width:980px){
    .shopCategory-items{
        grid-template-columns: repeat(4,1fr);
    }
}
@media only screen and (max-width:788px){
    .shopCategory-items{
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width:584px){
    .shopCategory-items{
        grid-template-columns: repeat(2,1fr);
    }
}