.popular {
  max-width: 1200px;
  padding: 24px 15px;
  margin: auto;
  margin-top: 20px 0;
}
.popular .popular-items {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 40px;
}
.popular h3 {
  font-size: 23px;
  text-transform: uppercase;
  margin: 30px 0;
  color: rgb(236, 163, 4);
  font-weight: 700;
}
